hostname {{ item.value.hostname }}


username {{item.value.username}} privilage 15 secret {{ item.value.password }}

{% for vlan_num in item.value.vlans %}
vlan {{ vlan_num }}
{% endfor %}

{% if item.value.vlan_interface_13 %}
{% for vlan_interface in item.value.vlan_interfaces %}
interface {{ vlan_interface.int_num }}
  ip address {{ vlan_interface.ip }} 255.255.255.0
{% endfor %}
{% endif %}